
body {
	background-color: black;
	color: white
}

h1 {
	color: inherit;
	font-size: 2.8rem;
}

p {
	color: inherit;
	font-size: 1.25rem
}

input {
	color: inherit;
}

button {
	color: black
}

hr {
	
}


.suggestionbox {
	color: inherit;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;	
}


.warning {
	position: absolute;
	top: 0;
	text-align: left;
	background-attachment: scroll;
}


.dark-mode {
	background-color: black;
    color: black;
	position: fixed
}


.dark-mode input,
.dark-mode button,
.dark-mode hr,
.dark-mode .blunderline
.dark-mode .runderline
.dark-mode {
	color: black;
	background-color: black;
	border-color: black;
	text-decoration: none
}


.runderline {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
}


.blunderline {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: blue;
}


.true-center {
	padding: 70px 0;
	text-align: center;
	background-color: black;
	color: white;
}
	
	.true-center h1 {
		font-size: 6rem;
		margin-bottom: 20px;
    }
	
	.true-center a {
		color: #0077cc;
		text-decoration: none;
		font-size: 1.2rem;
    }
	
	.true-center a:visited {
		color: #CE3131;
	}
	
	.true-center a:hover {
		color: #FFFF51;
		text-decoration: underline;
    }