<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- javascript -->
    <script src="script.js" defer></script>
    <script src="/assets/scripts/toolbar.js"></script>
    <script src="/assets/scripts/tax.js"></script>

    <!-- stylesheet and fonts -->
    <link rel="stylesheet" href="/assets/styles/default.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/default-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/default-16x16.png">
    <link rel="shortcut icon" href="/assets/favicons/windows.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/ios.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android.png">

    <!-- og (mastodon card) -->
    <meta property="og:title" content="{page_name}">
    <meta property="og:description" content="A website by luminousherbs.">
    <meta property="og:image" content="https://luminousherbs.github.io/things/og.png">
    <meta property="og:url" content="https://luminousherbs.github.io/things/{file_name}">
    <meta property="og:type" content="website">
    
    <title>{page_name}</title>
</head>
<body>
    <noscript>
        <p>Your ancient browser doesn't support JavaScript. You can download a new one <a href="http://mozilla.org/firefox">here</a>.</p>
    </noscript>
    <h1>{page_name}</h1>
    <button onclick="edit()">Edit</button>
    <button onclick="share()">Share</button>
    <button onclick="downloadHTML()">Download HTML</button>
    <button onclick="downloadJavaScript()">Download JavaScript</button>
    <hr>
    <hr>
    <a href="/">&lt; luminousherbs</a>
</body>
</html>